.signIn {
  margin-right: 120px;
  background-color: #ffffff;
  border: 3px solid #3f3f3f;
  font-size: 14px;
}
.signIn:hover,
.signIn:active,
.signIn:focus,
.signIn.active {
  background-color: #dddddd;
  border: 3px solid #000000;
}

.sign {
  width: 100px;
  height: 30px;
  position: absolute;
  top: 50px;
  right: 100px;
  padding: 1px;
  font-size: 14px;
}
.form {
  background: rgba(210, 210, 210, 0.25);
  border: 1px solid #bcbcbc;
  box-sizing: border-box;
  border-radius: 4px;
  height: 45px;
}
Form button {
  height: 50px;
  border-radius: 1px;
}

.showBooks {
  margin-top: 190px;
  /* background-color: #e5e5e5; */
}

.bgray {
  background-color: #e5e5e5;
}
.bgray2 {
  background-color: #691d1d;
  height: 100px;
  width: 100%;
  z-index: -1;
  position: relative;
}
.popularBook {
  max-height: 345px;
  max-width: 450px;
  font-size: 14px;
  margin-right: 5px;
}
.imgCover {
  height: 345px;
  width: 237px;
  cursor: pointer;
}
.title {
  position: absolute;
  left: 260px;
  padding-top: 35px;
  font-family: Times;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
  width: 205px;
  line-height: 30px;
}
.author {
  padding-top: 110px;
  font-style: italic;
  font-size: 14px;
}
.description {
  font-size: 14px;
  text-align: justify;
  line-height: 18px;
}
.price {
  font-weight: 800;
  font-size: 18px;
  color: #44b300;
}
.btnCart {
  width: 170px;
  height: 39px;
  color: white;
}
.btnCart2 {
  position: absolute;
  width: 170px;
  height: 39px;
  color: white;
  margin-top: -40px;
  z-index: 2;
}
.listBook {
  margin-left: 100px;
}
.book {
  width: 100%;
  height: 65%;
  max-width: 200px;
}
